@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: white;
  color: black;
}

.dark body {
  background-color: black;
  color: white;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
